Replit Dashboard (3).json
{
  "name": "Replit Dashboard",
  "nodes": [
    {
      "parameters": {
        "sendTo": "={{ $('Prepare Student Data').item.json.email }}",
        "subject": "={{ $json.output[0].content[0].text.subject || 'Important: Document Submission Required' }}",
        "emailType": "text",
        "message": "={{ $json.output[0].content[0].text.body }}",
        "options": {}
      },
      "id": "84f26bfc-2ea9-4a81-a35d-970bca736937",
      "name": "Send Student Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        6992,
        1344
      ],
      "webhookId": "b568be6d-6964-4ba4-8a61-4ee1be80d1e8",
      "credentials": {
        "gmailOAuth2": {
          "id": "A834rTkzefkvj8o6",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Workflow Configuration').item.json.admin_email }}",
        "subject": "={{ $json.output[0].content[0].text.subject || 'Scholarship Application - Institute Verification Required' }}",
        "emailType": "text",
        "message": "={{ $json.output[0].content[0].text.body }}",
        "options": {
          "senderName": ""
        }
      },
      "id": "5041d37e-31cf-4f07-b20a-11120c5fc4fc",
      "name": "Send Admin Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        6992,
        1536
      ],
      "webhookId": "1724f2cd-ef39-4600-9dea-7e95213aebae",
      "credentials": {
        "gmailOAuth2": {
          "id": "A834rTkzefkvj8o6",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1BEmfDHSCmMsuWT38tFSCuMbHTDwp391VgeriFGeU2HY",
          "mode": "list",
          "cachedResultName": "Scholarship Application Responses",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BEmfDHSCmMsuWT38tFSCuMbHTDwp391VgeriFGeU2HY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1079604647,
          "mode": "list",
          "cachedResultName": "Form responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BEmfDHSCmMsuWT38tFSCuMbHTDwp391VgeriFGeU2HY/edit#gid=1079604647"
        },
        "event": "rowAdded",
        "options": {}
      },
      "id": "dd498760-1e01-44e2-b745-6133f959956e",
      "name": "New Scholarship Application",
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        5072,
        1536
      ],
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "CvcWvURK3OnnfspH",
          "name": "Google Sheets Trigger account 3"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "admin_email",
              "value": "admin@scholarship.edu",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "deadline_column_name",
              "value": "Deadline",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "42a1b453-2190-465c-b77e-b3decbf1cdb1",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5296,
        1536
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.normalized_status }}",
                    "rightValue": "Document Pending",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "688c84bd-63d4-4407-af7c-fe383f7ce8a7"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Document Pending"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.normalized_status }}",
                    "rightValue": "Institute Verification Pending",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "dd2391da-65f0-4919-a0a1-95fbbfc0cbde"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Institute Verification Pending"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.normalized_status }}",
                    "rightValue": "Approved",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "0a07151e-4301-4052-950f-97bf07d382ac"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Approved"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none",
          "allMatchingOutputs": false
        }
      },
      "id": "0e0a543f-039f-4357-b44c-2cac0c4aeceb",
      "name": "Route by Scholarship Status",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        6416,
        1520
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $('Prepare Student Data').item.json.email }}",
        "subject": "={{ $json.output[0].content[0].text.subject || 'Scholarship Approved - Congratulations!' }}",
        "emailType": "text",
        "message": "={{ $json.output[0].content[0].text.body }}",
        "options": {}
      },
      "id": "b0d57c24-9845-4e06-86cd-4411dcc6ffcd",
      "name": "Send Approval Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        6992,
        1728
      ],
      "webhookId": "0360f3fc-3eda-44c8-8104-d06dd85ad756",
      "credentials": {
        "gmailOAuth2": {
          "id": "A834rTkzefkvj8o6",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "email",
              "value": "={{ $json['Student Email'] || $json.email }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "scholarship_type",
              "value": "={{ $json['Scholarship Type'] || $json.scholarship_type }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "status",
              "value": "={{ $json['Status'] || $json.status || 'Document Pending' }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "email_sent",
              "value": "={{ $json['Email Sent'] || $json.email_sent || 'NO' }}",
              "type": "string"
            },
            {
              "id": "id-6",
              "name": "application_id",
              "value": "={{ $json['Application ID'] || $json.application_id }}",
              "type": "string"
            },
            {
              "id": "id-7",
              "name": "missing_documents",
              "value": "={{ $json['Missing Document'] || $json.missing_documents }}",
              "type": "string"
            },
            {
              "id": "id-8",
              "name": "student_name",
              "value": "={{ $json['Student Name'] || $json.student_name }}",
              "type": "string"
            },
            {
              "id": "id-9",
              "name": "normalized_status",
              "value": "={{ ($json['Status'] || $json['Scholarship Status'] || $json.status || 'Document Pending').toString().trim() }}",
              "type": "string"
            },
            {
              "id": "id-10",
              "name": "deadline_date",
              "value": "={{ $json['Deadline'] || $json.deadline_date }}",
              "type": "string"
            },
            {
              "id": "id-11",
              "name": "student_id",
              "value": "={{ $json['Application ID'] || $json.application_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "84c634b3-c719-4f48-a054-c6a1bf63fd2d",
      "name": "Prepare Student Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5520,
        1536
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.email_sent }}",
              "rightValue": "NO",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b7556963-7c24-422f-949d-204902e16165",
      "name": "Check Email Not Sent",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        5744,
        1536
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1BEmfDHSCmMsuWT38tFSCuMbHTDwp391VgeriFGeU2HY"
        },
        "sheetName": {
          "__rl": true,
          "mode": "id",
          "value": "1079604647"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email Sent": "YES",
            "Student Email": "={{ $('Preserve Row Identity').item.json.email }}"
          },
          "matchingColumns": [
            "Student Email"
          ],
          "schema": [
            {
              "id": "Email Sent",
              "displayName": "Email Sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Student Email",
              "displayName": "Student Email",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "7715f0da-5e93-4b6c-9148-d8ae5ac27b54",
      "name": "Mark Email Sent - Document Pending",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        7440,
        1344
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SXD6yo22GNsItiDn",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1BEmfDHSCmMsuWT38tFSCuMbHTDwp391VgeriFGeU2HY",
          "mode": "list",
          "cachedResultName": "Scholarship Application Responses",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BEmfDHSCmMsuWT38tFSCuMbHTDwp391VgeriFGeU2HY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1079604647,
          "mode": "list",
          "cachedResultName": "Form responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BEmfDHSCmMsuWT38tFSCuMbHTDwp391VgeriFGeU2HY/edit#gid=1079604647"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email Sent": "YES",
            "Student Email": "={{ $('Preserve Row Identity').item.json.email }}"
          },
          "matchingColumns": [
            "Student Email"
          ],
          "schema": [
            {
              "id": "Email Sent",
              "displayName": "Email Sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Student Email",
              "displayName": "Student Email",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "2750c2d7-8b77-42e5-a414-5249c3f5c262",
      "name": "Mark Email Sent - Institute Verification",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        7440,
        1536
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "T6sz7pz8QHDKbh6j",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1BEmfDHSCmMsuWT38tFSCuMbHTDwp391VgeriFGeU2HY",
          "mode": "list",
          "cachedResultName": "Scholarship Application Responses",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BEmfDHSCmMsuWT38tFSCuMbHTDwp391VgeriFGeU2HY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1079604647,
          "mode": "list",
          "cachedResultName": "Form responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BEmfDHSCmMsuWT38tFSCuMbHTDwp391VgeriFGeU2HY/edit#gid=1079604647"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email Sent": "YES",
            "Student Email": "={{ $('Preserve Row Identity').item.json.email }}"
          },
          "matchingColumns": [
            "Student Email"
          ],
          "schema": [
            {
              "id": "Email Sent",
              "displayName": "Email Sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Student Email",
              "displayName": "Student Email",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "92f9284e-67f8-424f-8107-1d3fcdd22e55",
      "name": "Mark Email Sent - Approved",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        7440,
        1728
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "T6sz7pz8QHDKbh6j",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "id"
        },
        "responses": {
          "values": [
            {
              "content": "=Write a professional email.\n\nStudent Name: {{ $('Prepare Student Data').item.json.student_name }}\nScholarship Type: {{ $('Prepare Student Data').item.json.scholarship_type }}\nMissing Documents: {{ $('Prepare Student Data').item.json.missing_documents }}\n\nStart the email with:\nDear {{ $('Prepare Student Data').item.json.student_name }},\n\nExplain that the scholarship application is pending due to missing documents.\nMention the missing documents.\nAsk the student to submit them soon.\n\nEnd with:\nBest regards,\nScholarship Office\n\nReturn ONLY a valid JSON object with exactly this structure: {\"subject\": \"your subject here\", \"body\": \"your email body here\"}\nDo not include any markdown formatting, code blocks, or extra text"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_object"
            }
          }
        }
      },
      "id": "b6482923-835e-4607-a3ab-89cf2e197b04",
      "name": "Generate Document Pending Email",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        6640,
        1344
      ],
      "credentials": {
        "openAiApi": {
          "id": "CK6PCVvMA3IvTYh6",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-4o-mini"
        },
        "responses": {
          "values": [
            {
              "content": "=You are drafting internal college communication. Write a concise and professional email to the scholarship admin team.\n\nStudent Name: {{ $('Prepare Student Data').item.json.student_name }}\nApplication ID: {{ $('Prepare Student Data').item.json.row_number }}\nScholarship Type: {{ $('Prepare Student Data').item.json.scholarship_type }}\n\nInform that the student has successfully submitted all required documents.\nMention that the application status is now \"Institute Verification Pending\".\nRequest the admin to review and verify the application at the earliest.\n\nKeep the email short, clear, and formal.\nEnd the message with \"Scholarship Automation System\".\nDo not use emojis.\n\nReturn ONLY a valid JSON object with exactly this structure: {\"subject\": \"your subject here\", \"body\": \"your email body here\"}\nDo not include any markdown formatting, code blocks, or extra text"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_object"
            }
          }
        }
      },
      "id": "6d639ccd-aa76-4d99-b5a9-f2a27cff4e1c",
      "name": "Generate Institute Verification Email",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        6640,
        1536
      ],
      "alwaysOutputData": true,
      "credentials": {
        "openAiApi": {
          "id": "CK6PCVvMA3IvTYh6",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-4o-mini"
        },
        "responses": {
          "values": [
            {
              "content": "=You are an AI assistant for a college scholarship office. Write a congratulatory email to inform a student that their scholarship application has been approved.\n\nStudent Name: {{ $('Prepare Student Data').item.json.student_name }}\nScholarship Type: {{ $('Prepare Student Data').item.json.scholarship_type }}\nApplication Status: Approved\n\nRules:\n- Warm and congratulatory tone\n- Mention next steps for receiving the scholarship\n- Professional but celebratory\n- No emojis\n- Return ONLY a valid JSON object with exactly this structure: {\"subject\": \"your subject here\", \"body\": \"your email body here\"}\n- Do not include any markdown formatting, code blocks, or extra text"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_object"
            }
          }
        }
      },
      "id": "f95b78bf-fa3d-497e-9e27-3dc8af3f4460",
      "name": "Generate Approved Email",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        6640,
        1728
      ],
      "alwaysOutputData": true,
      "credentials": {
        "openAiApi": {
          "id": "CK6PCVvMA3IvTYh6",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1BEmfDHSCmMsuWT38tFSCuMbHTDwp391VgeriFGeU2HY",
          "mode": "list",
          "cachedResultName": "Scholarship Application Responses",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BEmfDHSCmMsuWT38tFSCuMbHTDwp391VgeriFGeU2HY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1079604647,
          "mode": "list",
          "cachedResultName": "Form responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BEmfDHSCmMsuWT38tFSCuMbHTDwp391VgeriFGeU2HY/edit#gid=1079604647"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Student Email",
              "lookupValue": "={{ $('Preserve Row Identity').item.json.email }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8b1bbc68-4750-4190-a8ae-182b043c81bc",
      "name": "Find Row - Document Pending",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        7216,
        1344
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "qTcti1fQWHdsQvRC",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1BEmfDHSCmMsuWT38tFSCuMbHTDwp391VgeriFGeU2HY",
          "mode": "list",
          "cachedResultName": "Scholarship Application Responses",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BEmfDHSCmMsuWT38tFSCuMbHTDwp391VgeriFGeU2HY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1079604647,
          "mode": "list",
          "cachedResultName": "Form responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BEmfDHSCmMsuWT38tFSCuMbHTDwp391VgeriFGeU2HY/edit#gid=1079604647"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Student Email",
              "lookupValue": "={{ $('Preserve Row Identity').item.json.email }}"
            }
          ]
        },
        "options": {}
      },
      "id": "67967c3b-3042-48fb-a4a3-6235c3ca4a10",
      "name": "Find Row - Institute Verification",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        7216,
        1536
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "T6sz7pz8QHDKbh6j",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1BEmfDHSCmMsuWT38tFSCuMbHTDwp391VgeriFGeU2HY",
          "mode": "list",
          "cachedResultName": "Scholarship Application Responses",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BEmfDHSCmMsuWT38tFSCuMbHTDwp391VgeriFGeU2HY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1079604647,
          "mode": "list",
          "cachedResultName": "Form responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BEmfDHSCmMsuWT38tFSCuMbHTDwp391VgeriFGeU2HY/edit#gid=1079604647"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Student Email",
              "lookupValue": "={{ $('Preserve Row Identity').item.json.email }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c1ebb778-d42a-4cf4-abac-7079dcd96f65",
      "name": "Find Row - Approved",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        7216,
        1728
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "T6sz7pz8QHDKbh6j",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "b62cc5c7-49e4-4402-93ef-56b0934c1df3",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        5968,
        1536
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item.json;\nconst deadlineDate = item['Deadline Date'] || item.deadline_date || item.Deadline;\nconst today = new Date();\nlet daysLeft = 0;\n\nif (deadlineDate) {\n  const deadline = new Date(deadlineDate);\n  const timeDiff = deadline.getTime() - today.getTime();\n  daysLeft = Math.ceil(timeDiff / (1000 * 3600 * 24));\n}\n\nlet riskScore = 0;\nif (daysLeft <= 3) {\n  riskScore = 90 + Math.random() * 10;\n} else if (daysLeft <= 7) {\n  riskScore = 60 + Math.random() * 30;\n} else if (daysLeft <= 14) {\n  riskScore = 30 + Math.random() * 30;\n} else {\n  riskScore = Math.random() * 30;\n}\n\nlet riskLevel = 'Low';\nif (riskScore >= 70) {\n  riskLevel = 'High';\n} else if (riskScore >= 40) {\n  riskLevel = 'Medium';\n}\n\nconst currentNotificationCount = parseInt(item.notification_count || '0');\nconst studentId = item.student_id || item.application_id || item['Application ID'];\n\nreturn {\n  json: {\n    ...item,\n    row_number: item.row_number || item['row_number'],\n    student_id: studentId,\n    days_left: daysLeft,\n    risk_score: Math.round(riskScore),\n    risk_level: riskLevel,\n    notification_count: currentNotificationCount + 1,\n    last_notified_at: new Date().toISOString(),\n    processing_status: 'processed'\n  }\n};"
      },
      "id": "484ffe80-8237-4858-8d7a-7d94f71f4caf",
      "name": "Compute Risk Score and Days Left",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7888,
        1536
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1BEmfDHSCmMsuWT38tFSCuMbHTDwp391VgeriFGeU2HY",
          "mode": "list",
          "cachedResultName": "Scholarship Application Responses",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BEmfDHSCmMsuWT38tFSCuMbHTDwp391VgeriFGeU2HY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1079604647,
          "mode": "list",
          "cachedResultName": "Form responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BEmfDHSCmMsuWT38tFSCuMbHTDwp391VgeriFGeU2HY/edit#gid=1079604647"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "risk_score": "={{ $json.risk_score }}",
            "risk_level": "={{ $json.risk_level }}",
            "days_left": "={{ $json.days_left }}",
            "notification_count": "={{ $json.notification_count }}",
            "last_notified_at": "={{ $json.last_notified_at }}",
            "processing_status": "processed",
            "Student Email": "={{ $json.email }}"
          },
          "matchingColumns": [
            "Student Email"
          ],
          "schema": [
            {
              "id": "risk_score",
              "displayName": "risk_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "risk_level",
              "displayName": "risk_level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "days_left",
              "displayName": "days_left",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "notification_count",
              "displayName": "notification_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_notified_at",
              "displayName": "last_notified_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "processing_status",
              "displayName": "processing_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Student Email",
              "displayName": "Student Email",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "6067ee0b-c2ab-4de4-a610-4b2d781097fb",
      "name": "Update Sheet with Risk Data",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        8112,
        1712
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "T6sz7pz8QHDKbh6j",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "row_number",
              "value": "={{ $json.row_number }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "student_id",
              "value": "={{ $json.application_id || $json['Application ID'] }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "email",
              "value": "={{ $json.email }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "student_name",
              "value": "={{ $json.student_name }}",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "scholarship_type",
              "value": "={{ $json.scholarship_type }}",
              "type": "string"
            },
            {
              "id": "id-6",
              "name": "normalized_status",
              "value": "={{ $json.normalized_status }}",
              "type": "string"
            },
            {
              "id": "id-7",
              "name": "missing_documents",
              "value": "={{ $json.missing_documents }}",
              "type": "string"
            },
            {
              "id": "id-8",
              "name": "deadline_date",
              "value": "={{ $json.deadline_date }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "6e2fabbd-ab64-49a1-91f1-7b7d635b91ba",
      "name": "Preserve Row Identity",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6192,
        1536
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "id": "eec6f4cd-ed35-4057-8a22-b90655f3de98",
      "name": "Wait for All Email Branches",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        7664,
        1536
      ]
    },
    {
      "parameters": {
        "url": "https://sanjay24.app.n8n.cloud/webhook-test/dashboard-data",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "d920c1a2-f0cd-4012-b318-e8b9d7014632",
      "name": "Notify Dashboard Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        6192,
        1344
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "New Scholarship Application": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Prepare Student Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Scholarship Status": {
      "main": [
        [
          {
            "node": "Generate Document Pending Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Institute Verification Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Approved Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Student Data": {
      "main": [
        [
          {
            "node": "Check Email Not Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Document Pending Email": {
      "main": [
        [
          {
            "node": "Send Student Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Institute Verification Email": {
      "main": [
        [
          {
            "node": "Send Admin Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Approved Email": {
      "main": [
        [
          {
            "node": "Send Approval Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Student Email": {
      "main": [
        [
          {
            "node": "Find Row - Document Pending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Row - Document Pending": {
      "main": [
        [
          {
            "node": "Mark Email Sent - Document Pending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Admin Email": {
      "main": [
        [
          {
            "node": "Find Row - Institute Verification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Row - Institute Verification": {
      "main": [
        [
          {
            "node": "Mark Email Sent - Institute Verification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Approval Email": {
      "main": [
        [
          {
            "node": "Find Row - Approved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Row - Approved": {
      "main": [
        [
          {
            "node": "Mark Email Sent - Approved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Email Not Sent": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Notify Dashboard Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preserve Row Identity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preserve Row Identity": {
      "main": [
        [
          {
            "node": "Route by Scholarship Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Risk Score and Days Left": {
      "main": [
        [
          {
            "node": "Update Sheet with Risk Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Email Sent - Document Pending": {
      "main": [
        [
          {
            "node": "Wait for All Email Branches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for All Email Branches": {
      "main": [
        [
          {
            "node": "Compute Risk Score and Days Left",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Sheet with Risk Data": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Email Sent - Institute Verification": {
      "main": [
        [
          {
            "node": "Wait for All Email Branches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Email Sent - Approved": {
      "main": [
        [
          {
            "node": "Wait for All Email Branches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "0f6a113f-0578-465e-9db7-0323bd3c8810",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "db71f55c969207521a752213b44b3fb96c0e7ebed2aa8cd01a64dc1ded3582af"
  },
  "id": "qbM4h_E6OnMzI9oe-O5ee",
  "tags": []
}